
<ion-header>

  <ion-navbar>
    <ion-title>Graficos Antropometricos</ion-title>
  </ion-navbar>

</ion-header>




  <ion-content>


    <ion-card>
      <div padding>
        <h2> <strong>Datos Ingresados:</strong> </h2>
        <div><label>Genero: {{sex}}</label></div>
        <div><label>Fecha Nacimiento: {{date.day}} / {{date.month}} / {{date.year}}</label></div>
        <div><label>Altura: {{color}}</label></div>
        <div><label>Peso : {{peso}}</label></div>



      </div>
    </ion-card>
    <ion-card>
      <div padding>
        <h2> <strong>Resultados:</strong> </h2>
        <div><label>Grafico 1: {{message1}}</label></div>
        <div><label>Grafico 2: {{message2}}</label></div>
        <div><label>Grafico 3: {{message3}}</label></div>
        <div *ngIf="cuartoGrafico"><label>Grafico 4: {{message4}}</label></div>




      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grafico 1: {{t1}}
      </ion-card-header>
      <ion-card-content>
        <canvas  #graphicsA1></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grafico 2: {{t2}}
      </ion-card-header>
      <ion-card-content>
        <canvas #graphicsA2></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="tercerGrafico">

    <ion-card-header>
      Gráfico 3: {{t3}}
    </ion-card-header>
    <ion-card-content>
      <canvas #graphicsA3></canvas>
    </ion-card-content>
  </ion-card>

    <ion-card *ngIf="cuartoGrafico">

      <ion-card-header>
        Gráfico 4: {{t4}}
      </ion-card-header>
      <ion-card-content>
        <canvas  #graphicsA4></canvas>
      </ion-card-content>
    </ion-card>

  </ion-content>
