
<ion-header>

  <ion-navbar>
    <ion-title>Graficos Antropometricos</ion-title>
  </ion-navbar>

</ion-header>




  <ion-content>


    <ion-card>
      <div padding>


        <ion-row>
          <ion-col col-6="">
            <h2> <strong>Datos Ingresados:</strong> </h2>
            <div><label>Genero: {{sex}}</label></div>
            <div><label>Fecha Nacimiento: {{date.day}} / {{date.month}} / {{date.year}}</label></div>
            <div><label>Altura: {{color}}</label></div>
            <div><label>Peso : {{peso}}</label></div>
            <div><label>Edad en Meses: {{edad1}}</label></div>
          </ion-col>
          <ion-col col-3></ion-col>
          <ion-col col-3>
            <img *ngIf="banderasex" src="assets/img/nina.png" style="height: 100px;width: 190px;" />
            <img *ngIf="!banderasex" src="assets/img/nino.png" style="height: 100px;width: 190px;" />
          </ion-col>
          <ion-col col-1></ion-col>
        </ion-row>



      </div>
    </ion-card>
    <ion-card>
      <div padding>
        <h2> <strong>Resultados:</strong> </h2>
        <div><label>Grafico 1 (Peso/Edad): {{message1}}</label></div>
        <div><label>Grafico 2 (ALtura/Edad): {{message2}}</label></div>
        <div><label>Grafico 3 (Peso/Altura): {{message3}}</label></div>
        <div *ngIf="cuartoGrafico"><label>Grafico 4 Peso/Altura): {{message4}}</label></div>




      </div>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grafico 1: {{t1}}
      </ion-card-header>
      <ion-card-content>
        <canvas  #graphicsA1></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Grafico 2: {{t2}}
      </ion-card-header>
      <ion-card-content>
        <canvas #graphicsA2></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="tercerGrafico">

    <ion-card-header>
      Gráfico 3: {{t3}}
    </ion-card-header>
    <ion-card-content>
      <canvas #graphicsA3></canvas>
    </ion-card-content>
  </ion-card>

    <ion-card *ngIf="cuartoGrafico">

      <ion-card-header>
        Gráfico 4: {{t4}}
      </ion-card-header>
      <ion-card-content>
        <canvas  #graphicsA4></canvas>
      </ion-card-content>
    </ion-card>

  </ion-content>
